.margin-nav-items{
    margin: 0px 9px 0px 9px;
}
.nav-banner-back-color{
    background-color: rgb(255, 213, 206);
}
.nav-items-color a{
 font-family: 'Baloo 2', cursive;
    color: black;
}
.toggler-color{
    color: rgba(0, 0, 0, 0.144);
}
.carousel-icon-backcolor{
    background-color: rgba(0, 0, 0, 0.26);
}
.title-design{
    /* background-color: #2E2F29; */
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}
.ttile-text-color{
    color: #5B0E2E;
}
.banner-title{
    
    font-weight: bold;
    
    font-family: 'Potta One', cursive;
    /* word-spacing: 4px; */
    font-size: 50px;
    text-shadow: 3px 6px 10px rgb(104, 104, 104);
}
.icon-box{
    width: 40px;
    background-color: rgba(0, 0, 0, 0.055);
}
.banner-title-1{
    color:rgb(113, 80, 185);
}
.banner-title-2{
    color: rgb(85, 172, 121);
}
.banner-paragraph{
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
}
.third-section{
    background-color: #051e3625;
}
.footer{
    background-color: rgb(3, 3, 49);
    color: white;
}
.footer i{
    color: white;
    font-size: 20px;
}
@media only screen and (max-width: 380px){
    .responsive-font{
        font-size: 30px;
    }
}